//vars
$blue: rgb(43, 47, 95);
$grey: rgb(57, 57, 57);

// resolutions
$tablets: 768px;
$phones: 480px;

//normalize
@import "_misc/normalize";

//adaptive
@import "_misc/media";

//setups
@import "_misc/mixin";
@import "_misc/_font";
@import "_misc/layout";


//blocks
@import "blocks/section__title";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/hero__content";
@import "blocks/slider-item__desc";
@import "blocks/ingridients-hover-list";
@import "blocks/team-hover-list";
@import "blocks/second-section";
@import "blocks/third-section";
@import "blocks/section-four";
@import "blocks/section-four__bottom";
@import "blocks/form";
@import "blocks/form__btn";
@import "blocks/team__item--active";
@import "blocks/questions-section";
@import "blocks/questions-section-list";
@import "blocks/questions-text";
@import "blocks/questions__item--active";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/socials";