.section__title{
    font-family: 'Malina';
    font-size: rem(62px);
    line-height: 1.2;
    color: rgb(255, 255, 255);
}
.section__title_color_blue{
    color: $blue;
}
.section__title_color_grey{
    color: $grey;
}